@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global tweaks for RN + NativeWind */
:root {
  /* Fallbacks for web build */
  --color-brand: #24a19c;
  --color-neutral-primary: #1b1c1f;
  --color-neutral-secondary: #767e8c;
  --color-neutral-line: #e0e5ed;
  --color-neutral-background: #ffffff;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-warning: #ffc700;
  --color-danger: #ff3b30;
  body {
    background-color: #ffffff;
  }
}
